/**** Hero Section ****/

.hero{
    position: relative; /* to make this div the relative ancestor of .herotext */
    text-align: right; /* to center all the content in .hero */
}

.hero img{
    width: 100%;
    height: 650px;
    object-fit: cover;
    object-position: 0 bottom;
}

.heroTextContainer{
    position: absolute; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    background-color: rgba(158, 158, 158, 0.075);  
    padding: 20px; 
    color:whitesmoke; 

}

.aboutHeroText{
    text-align:center;
}

.aboutHeroText h2{
    font-size: 75px;
    font-weight: bold; /* make the text bold */
    line-height: 600px;
}


/**** Hero Section END ****/


/**** Welcome to Legal Section ****/

.teamIntro{
    padding: 100px 0;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 80px; 

    justify-content: center;
    align-items: center;

    background-color:rgb(233, 233, 233);

}

.teamIntroImage{
    height: 550px;
    text-align: right;
}

.teamIntroImage img{
    height: 450px;

}

.teamIntroText{
    width: 75%;
    line-height: 35px;
}

.teamIntroText h2{
    font-size: 40px;
    color: green;
    font-weight: bold;
}

.teamIntroText p{
    font-size: 20px;

}

/**** Welcome to Legal Section END****/


/**** Team Section ****/

.contactSection{
    text-align: center;
    padding: 55px 185px;
}

.contactSection h1{
    font-size: 45px;
    font-weight: 540;
}

.contactSection h3{
    font-size: 18px;
    color:rgb(49, 49, 49); 
    font-weight: lighter;
    line-height: 0;
}

.contacts{
    /* height: 800px; */
    
    /* display: grid;
    grid-gap: 0 20px;
    grid-template-columns: 1fr 1fr 1fr; */


    display: flex;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;

    justify-content: center;

}

.contactItem img{
    width: 100%;
}

.contactItem{

    flex: 450px;
    max-width: 500px;
    
}

.contactItem h4{

    color: green;
    /* line-height: 0; */
}

.contactItem p{
    line-height: 24px;
}

/**** Practice Section END ****/